@{ Layout = "_SprinkleLayout";}
@using CMSprinkle
@model CMSprinkle.ViewModels.CMSprinkleHome

<h1>CMSprinkle</h1>

<p>
    @Html.ActionLink("➕ Add New Content", "Add", "Sprinkle")
</p>

<table border="1">
    <thead>
    <th>Key</th>
    <th>Content</th>
    <th>&nbsp;</th>
    </thead>
    
    @if (!Model.AllContent.Any())
    {
        <tr colspan="3">No Content Yet.</tr>
    }
    else
    {
        <tbody>
        @foreach (var item in Model.AllContent)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value.ToTruncateMarkdown(50)</td>
                <td>
                    @Html.ActionLink("[Edit]", "Edit", "Sprinkle", new { contentKey = item.Key })
                    @Html.ActionLink("[Delete]", "Delete", "Sprinkle", new { contentKey = item.Key }, new { onclick = "return confirm('Are you sure you want to delete?');" })
                </td>
            </tr>
        }
        </tbody>
    }
</table>